<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>HostClub</title>
</head>
<body>
    <h1>HostClub</h1>
    <a href="/">Home</a>
    <a href="/events">All Events</a>
        <ul>
        <% events.forEach(function(event, idx) { %>
            <li>
                <form action="/events/<%= event._id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form> Title -
            <a href="/events/<%= event._id %>">
                <%= event.title %></a>
                - Supplies - 
            <%= event.supplies %>
            </li>
        <% }); %>
        </ul>
        <a href="/events/new">Add Event</a>
</body>
</html>