<%- include('../partials/header') %>
    <li>
        <label>Title:</label>
        <%= event.title %>
        <label>Date:</label>
        <%= event.date %>
    </li>

    <%- include('../partials/footer') %>