<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>HostClub</title>
</head>
<body>
    <h1>HostClub</h1>
    <div class=="navbar-fixed">
        <nav>
            <div class="nav-wrapper purple">
                <ul class="right">
                    <a href="/events">Events List</a>
                    <!-- Place Login UI Here -->
                    <ul class="right">
                        <li>
                        <!-- new html below -->
                        <% if (user) { %>
                            <a href="/logout">trending_flat</i>Log Out</a>
                        <% } else { %>
                            <a href="/auth/google">vpn_key</i>Login with Google</a>
                        <% } %>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>