<%- include('../partials/header') %>
    <p>
        <select>
            <% supplies.forEach(function(s) { %>
                <option><%= s.name %></option>
            <% }) %>
        </select>
    </p>    
    <form id="add-supply-form" action="/supplies" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Type:</label>
    <select name="type">
        <option value="drink">Drink</option>
        <option value="food">Food</option>
        <option value="dessert">Dessert</option>
        <option value="other">Other</option>
    </select>
    <input type="submit" value="Add Supply">
    </form>
    <%- include('../partials/footer') %>