<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>HostClub</title>
</head>
<body>
    <h1>HostClub</h1>
    <a href="/">Home</a>
    <a href="/events">All Events</a>
    <a href="/supplies/new">Add Supplies</a>
    <li>
        <% supply.forEach(function(p) { %>
            <option><%= p.name %></option>
        <% }) %>
        <label>Title:</label>
        <%= supply.name %>
        <label>Date:</label>
        <%= supply.type %>

    </li>

</body>
</html>